---
import Layout from './Layout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <div id="container">
      <canvas></canvas>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  #container {
    flex: 1;
    position: relative;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
